@model Facturation.Models.Tva

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Modification Tva</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Annee"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="Valeur"></label>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Annee" class="form-control" />
                        <span asp-validation-for="Annee" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <input asp-for="Valeur" class="form-control" />
                        <span asp-validation-for="Valeur" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Modifier" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Annuler</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


