
@model IEnumerable<Facturation.Models.Puissance>

<div class="container" p-3>

    <a class="btn btn-primary btn-lg" asp-controller="Puissance" asp-action="Create">Ajouter</a>
    <br />
    <br />
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Libelle</td>
                    <td width="30%">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Puissance" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-primary mx-1">Modifier</a>
                            <a asp-controller="Puissance" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger mx-1">effacer</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table> }
    else
    {
        <p>Pas de creation de Puissance</p>
    }


</div>